@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Noto Sans", Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.grid-container {
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 1fr 3fr;
  height: 100vh;
}

.header {
  grid-column: span 2;
  padding: 1rem;
  color: white;
  text-align: center;
}

/* Sidebar for navigation */
.sidebar {
  padding: 1rem;
  color: white;
}

/* Main content area */
.content {
  padding: 1rem;
}